<?xml version="1.0" encoding="utf-8” ？>
<configuration>
       <startup>
             <supartedRuntime version="v4. 0"  sku=". NETFramework,Version=v4.6.1" />
       </startup>
<connectionStrings>
            <add name="ConStr" connectionString="data source=.;database=db2018;user id=sa;password=123456789" />
         </connectionStrings>
</configuration>